/* Estilos gerais */
body {
    background-image: url(./assets/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

h1 {
    color: #ffffff;
}

/* Seções de vantagens */
#vantagens-principais {
    color: white; /* Cor branca para o texto */
}

#vantagens-principais ul {
    list-style-type: none; /* Remove os marcadores de lista */
}

#vantagens-contratar {
    background-color: #8d3fdb10; 
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    max-width: 50%;
}

ion-icon {
    color: green;
}

#vantagens-contratar ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding-left: 0;
}

#vantagens-contratar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#vantagens-contratar ion-icon {
    margin-right: 10px;
    font-size: 1.2em;
}

/* Container do Flexbox */
.conteudo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.perfil-container {
    margin-bottom: 20px;
}

.imagem-ao-lado {
    max-width: 100%;
    height: auto;
}

/*
* Estilização do botão fixo do WhatsApp
*/
.button-whatsapp {
    /* Posiciona o container na tela */
    position: fixed;
    bottom: 50px; /* Distância da parte inferior da tela */
    left: 50%; /* Move o ponto de origem para o meio da tela */
    transform: translateX(-50%); /* Ajusta o elemento para que o centro dele fique no 50% */
    
    /* Habilita o Flexbox para alinhar o conteúdo interno */
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
}

.whatsapp-icon-button {
    font-size: 4em;
    color: #25d366;
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.whatsapp-icon-button:hover {
    color: #128c7e;
    transform: scale(1.1);
}

.whatsapp-icon-button:active {
    transform: scale(0.95);
}

.whatsapp-text {
    color: #ffffff;
    font-size: 1em; /* Tamanho do texto ajustado para ser mais prático */
}
